<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="Npgsql.NpgsqlConnectionFactory, EntityFramework6.Npgsql" />
    <providers>
      <provider invariantName="Npgsql" type="Npgsql.NpgsqlServices, EntityFramework6.Npgsql" />
    </providers>
  </entityFramework>
  <system.data>
    <DbProviderFactories>
      <add name="Npgsql Data Provider" invariant="Npgsql" description="Data Provider for PostgreSQL" type="Npgsql.NpgsqlFactory, Npgsql" />
    </DbProviderFactories>
  </system.data>
  <connectionStrings>
    <!-- Aca esta el string de conexion a la DB se lo pone un nombre para poder referenciarlo en el programa
    Para usarlo con su propia DB deben crearla y luego modificar el string poniendo:
    Host, puerto, usuario, contraseña, base de datos, el resto lo dejan tal cual si piensan usar Heroku-->
    <add
      name="heroku"
      connectionString="User ID=btzokfozoxxeup;Password=f67e64debb43e805752d2ba3883bb4261349dc43182fa550a77faf1302b490dd;Host=ec2-54-204-35-248.compute-1.amazonaws.com;Port=5432;Database=d40fsgenvdarhb;Pooling=true;Use SSL Stream=True;SSL Mode=Require;TrustServerCertificate=True;EntityAdminDatabase=d40fsgenvdarhb"
      providerName="Npgsql" />
  </connectionStrings>
</configuration>